body {
    font-family: 'Varela Round', sans-serif;
}
h3 {
    color: #555;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: .3em;
}
.error {
    font-size: 0.8em;
    color: #E74C3C;
}
.registration {
    background-color: #1abc9c;
    width: 100%;
    height: 100%;
}
.login-page {
    background-color: #1abc9c;
    width: 100%;
    height: 100%;
}

/*TOURS TABLE*/
.table-right-block {
    margin: 50px -20px 0;
}
.table-right-block a {
    margin-right: 10px;
}
.table-responsive {
    overflow-y: hidden;
}
.login-screen {
    padding: 12px;
}
.login-part {
    margin-top: 100px;
    color: #FFF;
}
.login-ico > img {
    width: 150px;
}
.login-ico > small {
    display: block;
}
.modal-icon:hover {
    cursor: pointer;
}
.checkbox {
    margin: 0;
}
.modal-body img {
    max-width: 100%;
}
.flow-img {
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}
.tables-menu h1 {
    float: left;
    display: inline-block;
}
.tables-menu ul {
    margin-top: 45px;
}
.tables-menu .dropdown {
    margin-top: -5px;
}
.tables-menu .dropdown-menu {
    padding: 3px 4px;
    background-color: #34495e;
}
.tables-menu .dropdown-menu a {
    color: #e1e4e7;
    border-radius: 4px;
    padding: 6px 9px;
}
.tables-menu .dropdown-menu a:hover {
    color: #ffffff;
    background-color: #1abc9c;
}
.dropdown-menu li:first-child > a {
    border-radius: 6px;
    padding-top: 8px;
}
.dropdown-menu li:last-child > a {
    border-radius: 6px;
    padding-bottom: 6px;
}

/*NAVBAR*/
.navbar-brand img {
    height: 45px;
    margin-top: -11px;
}
.logged-user p {
    float: left;
    color: #FFF;
    font-size: 0.8em;
    display: inline-block;
    margin: 17px 20px 0 5px;
}
.logged-user .nav li {
    float: left;
    display: inline-block;
    margin-bottom: -5px;
}
.logged-user .nav li:last-child {
    margin-right: 20px;
}
.logged-user .nav li a {
    font-size: 0.8em;
    font-weight: normal;
    padding: 17px 6px;
    color: #2ed1b1;
}
.profile-image {
    width: 40px;
    height: 40px;
    float: left;
    display: inline-block;
    margin-top: 7px;
    margin-bottom: -5px;
}
.navbar-right .lang a {
    padding: 16px 20px 0 0;
    font-size: 10px;
    font-weight: normal;
}
.logged-user .nav .lang a {
    font-size: 10px;
}
.table-nav {
    padding: 0;
}

/*TOURS*/
.tile {
    margin-bottom: 20px;
}
.tour-image {
    height: 150px;
}
.tile-title {
    height: 30px;
    letter-spacing: normal;
    font-size: 0.7em;
}
.tile p {
    margin-top: 20px;
    line-height: normal;
}
.tour-type {
    margin: -5px 0 5px;
    font-size: 0.7em;
    text-transform: uppercase;
    color: #898989;
    letter-spacing: normal;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.button {
    float: right;
    margin: 30px 10px;
    background: #d1d1d1;
    border: 1px solid #000;
    padding: 5px;
    box-sizing: border-box;
    color: #000;
    font-family: "Varela Round";
    font-size: 0.8em;
    text-transform: uppercase;
    text-decoration: none;
}
.tile.tile-discount:before {
    background: url(../img/discount.png) 0 0 no-repeat;
    background-size: 82px 82px;
    content: '';
    height: 82px;
    position: absolute;
    right: -4px;
    top: -4px;
    width: 82px;
}

/* Overlay style */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* Overlay closing cross */
.overlay .overlay-close {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 20px;
    top: 20px;
    overflow: hidden;
    border: none;
    background: url(../img/cross.png) no-repeat center center;
    text-indent: 200%;
    color: transparent;
    outline: none;
    z-index: 100;
}

/* Effects */
.overlay-slidedown {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
    transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}
.overlay-slidedown.open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}
.input-group .form-control[readonly] {
    color: #34495e;
}
@media screen and (max-height: 30.5em) {
    .overlay nav {
        height: 70%;
        font-size: 34px;
    }
    .overlay ul li {
        min-height: 34px;
    }
}
@media (min-width: 768px) {
    .navbar-collapse .navbar-nav.navbar-left:first-child > li:first-child a.dropdown-toggle {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        margin-left: 10px;
    }
}